@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Poppins:300,400,500,600,700');
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
}
label{
    color: #000;
    font-size: 14px;
    font-weight: bold;
}
form{
	margin-bottom: 0;
}
/* button style */
.from-btn {
	background: #fff;
	border: 1px solid #CCCCCC;
	border-radius: 2px;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 1;
	padding: 10px 15px;
	text-align: center;
	transition: all 0.3s ease 0s;
	border-radius: 5px

}
 /* Start calculator-form  */
.calculator-form h2 {
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
}
.calculator-form label{
	margin-bottom: 0;
}

.calculator-form input {
	width: 100%;
	height: 30px;
	padding: 0px 10px;
	margin-bottom: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}
.from-button {
	padding-top: 10px;
}
